<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skade og udbedring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="GeneralStyle.css">
</head>
<body>

<nav th:insert="fragments/nav.html"></nav>

<h1 hello></h1>
<!--  <input type="text" name="RegistreringsNummer"> -->

<div class="container pt-4" align="center" style="width: 500px">
    <br>
    <br>
    <br>

    <form action="/opdatererbilstatus" method="Post">
        <h5 class="fw-bold">Indtast registreringsnummer og<br>
            den ønskede nye udlejningsstatus
        </h5>
        <br>
        <div class="mb-3">
            <input type="text" style="text-align:center" placeholder="RegistreringsNummer" name="RegistreringsNummer">
        </div>
        <div class="mb-3">
            <input type="text" style="text-align:center" placeholder="UdlejningsStatus" name="UdlejningsStatus"> <br>
        </div>

        <button class="btn btn-primary">Registrer lejekontrakt</button>
    </form>
</div>

<footer id="CustomFooter">
    <div class="container">
        <p class="text-center text-muted">© 2022 Bilabonnement, A/S</p>
        <p class="text-center text-muted">Slotsherrensvej 411c 2610 Rødovre CVR-nr. 37856827</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>