.card-body{
    background-color: #f8f9fa;
}
.card{
    text-align: center;
}

.card-header{
    color: #1892c3;
}

#CustomFooter{
    padding-top: 270px;
}

.anyClass {
    height:450px;
    overflow-y: scroll;
}

.doubleAnyClass {
    height:450px;
    overflow: Auto;
}
