/* Marcus */
.logoResized{
    margin-left: 30px;
    margin-bottom: 40px;
}

body{
    background: url('https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fill,q_80,w_1280/v1/Frontpage/1600x990_i7jmdv.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



