<nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="Logo.png" alt="Logo" width="220" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dataregistrering
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Registrer Lejeaftale</a></li>
                        <li><a class="dropdown-item" href="#">Se og rediger lejeaftaler</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Skade/Udbedring
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Registrer skade</a></li>
                        <li><a class="dropdown-item" href="#">Se og rediger skaderapporter</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" aria-current="page" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Forretningsudvikling
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="forretningsudvikling">Udlejede biler</a></li>
                        <li><a class="dropdown-item" href="KPI">KPI'er</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a class="nav-link" href="#">Log ud</a>
    </div>
</nav>
